In [32]:
import ctypes
import sys
import os

os.environ['COMPUTERNAME']

if os.environ['USERNAME'] == 'r541964':
    sys.path.insert(0, r'c:\users\r541964\home\src\tpn\lib')
    sys.path.insert(0, r'c:\users\r541964\home\src\tracer\PythonApp\lib')
    basedir = r'e:\trace2'
else:
    if os.environ['COMPUTERNAME'] == 'COUGAR':
        basedir = r'S:\trace'
    else:
        basedir = r'C:\Users\Trent\Home\data'
    sys.path.insert(0, r'c:\users\trent\home\src\tpn\lib')
    sys.path.insert(0, r'c:\users\trent\home\src\tracer\PythonApp\lib')   

import tpn

#reload(tpn)

from tpn.path import join_path

import tpn.wintypes
reload(tpn.wintypes)
from tpn.wintypes import *

trace_events_dat_path = join_path(basedir, 'trace_events.dat')
trace_events_dat_metadata_path = ''.join((trace_events_dat_path, ':metadata'))
trace_events_dat_address_path = ''.join((trace_events_dat_path, ':address'))

trace_functions_dat_path = join_path(basedir, 'trace_functions.dat')
trace_functions_dat_metadata_path = ''.join((trace_functions_dat_path, ':metadata'))
trace_functions_dat_address_path = ''.join((trace_functions_dat_path, ':address'))

In [2]:
import struct
from struct import *

In [3]:
import tracer.config
conf = tracer.config.Config()
conf.load()

conf.tracer_pythontracer_debug_dll_path

os.path.exists(conf.tracer_pythontracer_debug_dll_path)

import tracer
reload(tracer)

In [4]:
use_debug = False

In [5]:
if use_debug:
    t = tracer.Tracer.create_debug(basedir, conf)
else:
    t = tracer.Tracer.create_release(basedir, conf)

Warning: RTL size mismatch: 936 != 64
TRACE_CONTEXT size mismatch: 72 != 64

In [3]:
with open(trace_events_dat_metadata_path, 'rb') as f:
    events_metadata = f.read()

In [4]:
f.close()

In [5]:
len(events_metadata)

131072

In [8]:
struct.unpack('Qq', events_metadata[:16])

(39060000, 24)

In [11]:
#events_metadata[:1000]

In [33]:
with open(trace_events_dat_address_path, 'rb') as f:
    events_address = f.read()

In [34]:
len(events_address)

131072

In [35]:
struct.unpack('Qq', events_address[:16])

(0, 0)

In [9]:
with open(trace_functions_dat_metadata_path, 'rb') as f:
    functions_metadata = f.read()

In [10]:
len(functions_metadata)

131072

In [12]:
struct.unpack('Qq', functions_metadata[:16])

(1, 72)

In [13]:
with open(trace_functions_dat_path, 'rb') as f:
    functions = f.read()

In [14]:
len(functions)

4194304

In [15]:
import numpy as np

In [17]:
metadata_dtype = np.dtype([
    ('NumberOfRecords', np.uint64),
    ('RecordSize', np.uint64),
])

In [19]:
a = np.fromstring(functions_metadata, dtype=metadata_dtype)

In [23]:
import pandas as pd

In [24]:
df = pd.DataFrame(a)

In [26]:
df = df[df['NumberOfRecords'] != 0]

In [28]:
len(df)

58

In [30]:
df['RecordSize'].sum()

8840

In [31]:
df

    NumberOfRecords  RecordSize
0                 1          72
1                 1         280
2                 1         144
3                 1         152
4                 1         224
5                 1          40
6                 1         280
7                 1          72
8                 1         144
9                 1         160
10                1          24
11                1         280
12                1         144
13                1         152
14                1         208
15                1          24
16                1         280
17                1          24
18                1         280
19                1          32
20                1         280
21                1          24
22                1         280
23                1          24
24                1         280
25                1          24
26                1         280
27                1          24
28                1         280
29                1          24
30                1         280
31                1          24
32                1         280
33                1          24
34                1         280
35                1          24
36                1         280
37                1          24
38                1         280
39                1          24
40                1         280
41                1          32
42                1         280
43                1          24
44                1         280
45                1          24
46                1         280
47                1          24
48                1         280
49                1          32
50                1         280
51                1          32
52                1         280
53                1          32
54                1         280
55                1          32
56                1         280
57                1          32

In [19]:
functions[:10]

'\x01\x02\x01\x00\x00\x00\x00\x00\xd0\xd3'

In [ ]:
with t:
    bits_table(output=null_writer)