In [1]:
import ctypes
import sys
import os

os.environ['COMPUTERNAME']

if os.environ['USERNAME'] == 'r541964':
    sys.path.insert(0, r'c:\users\r541964\home\src\tpn\lib')
    sys.path.insert(0, r'c:\users\r541964\home\src\tracer\PythonApp\lib')
    basedir = r'e:\trace2'
else:
    if os.environ['COMPUTERNAME'] == 'COUGAR':
        basedir = r'S:\trace'
    else:
        basedir = r'C:\Users\Trent\Home\data'
    sys.path.insert(0, r'c:\users\trent\home\src\tpn\lib')
    sys.path.insert(0, r'c:\users\trent\home\src\tracer\PythonApp\lib')   

import tpn

#reload(tpn)

from tpn.path import join_path

import tpn.wintypes
reload(tpn.wintypes)
from tpn.wintypes import *

trace_events_dat_path = join_path(basedir, 'trace_events.dat')
trace_events_dat_metadata_path = ''.join((trace_events_dat_path, ':metadata'))
trace_events_dat_address_path = ''.join((trace_events_dat_path, ':address'))

trace_functions_dat_path = join_path(basedir, 'trace_functions.dat')
trace_functions_dat_metadata_path = ''.join((trace_functions_dat_path, ':metadata'))
trace_functions_dat_address_path = ''.join((trace_functions_dat_path, ':address'))

In [2]:
import struct
from struct import *

In [3]:
import tracer.config
conf = tracer.config.Config()
conf.load()

conf.tracer_pythontracer_debug_dll_path

os.path.exists(conf.tracer_pythontracer_debug_dll_path)

import tracer
reload(tracer)

In [4]:
use_debug = False

In [3]:
use_debug = True

In [5]:
if use_debug:
    t = tracer.Tracer.create_debug(basedir, conf)
else:
    t = tracer.Tracer.create_release(basedir, conf)

Warning: RTL size mismatch: 936 != 64
TRACE_CONTEXT size mismatch: 72 != 64

In [4]:
with open(trace_events_dat_metadata_path, 'rb') as f:
    events_metadata = f.read()

In [5]:
#f.close()

In [6]:
len(events_metadata)

131072

In [7]:
struct.unpack('Qq', events_metadata[:16])

(39060000, 24)

In [8]:
#events_metadata[:1000]

In [9]:
with open(trace_events_dat_address_path, 'rb') as f:
    events_address = f.read()

In [10]:
len(events_address)

131072

In [17]:
131072.0 // 40.0

3276.0

In [12]:
struct.unpack('QQQQQ', events_address[:40])

(0, 1428546125824L, 2097152, 0, 0)

In [14]:
import numpy as np

In [15]:
address_dtype = np.dtype([
    ('PreferredBaseAddress', np.uint64),
    ('BaseAddress', np.uint64),
    ('MappedSize', np.uint64),
    ('MappedSequenceId', np.uint64),
    ('FileOffset', np.uint64),
])

In [18]:
a = np.fromstring(events_address[:40*3000], dtype=address_dtype)

In [19]:
import pandas as pd

In [20]:
df = pd.DataFrame(a)

In [22]:
df = df[df['BaseAddress'] != 0]

In [23]:
df

,PreferredBaseAddress,BaseAddress,MappedSize,MappedSequenceId,FileOffset
0,0,1428546125824,2097152,0,0
1,0,1428548222976,2097152,1,2097152
2,0,1428554514432,2097152,2,4194304
3,0,1428556611584,2097152,3,6291456
4,0,1428546125824,2097152,4,8388608
5,0,1428548222976,2097152,5,10485760
6,0,1428554514432,2097152,6,12582912
7,0,1428556611584,2097152,7,14680064
8,0,1428546125824,2097152,8,16777216
9,0,1428548222976,2097152,9,18874368
10,0,1428554514432,2097152,10,20971520
11,0,1428556611584,2097152,11,23068672
12,0,1428546125824,2097152,12,25165824
13,0,1428548222976,2097152,13,27262976
14,0,1428554514432,2097152,14,29360128
15,0,1428556611584,2097152,15,31457280
16,0,1428546125824,2097152,16,33554432
17,0,1428548222976,2097152,17,35651584
18,0,1428554514432,2097152,18,37748736
19,0,1428556611584,2097152,19,39845888
20,0,1428546125824,2097152,20,41943040
21,0,1428548222976,2097152,21,44040192
22,0,1428554514432,2097152,22,46137344
23,0,1428556611584,2097152,23,48234496
24,0,1428546125824,2097152,24,50331648
25,0,1428548222976,2097152,25,52428800
26,0,1428554514432,2097152,26,54525952
27,0,1428556611584,2097152,27,56623104
28,0,1428546125824,2097152,28,58720256
29,0,1428548222976,2097152,29,60817408
...,...,...,...,...,...
419,0,1428554514432,2097152,419,878706688
420,0,1428546125824,2097152,420,880803840
421,0,1428565000192,2097152,421,882900992
422,0,1428548222976,2097152,422,884998144
423,0,1428554514432,2097152,423,887095296
424,0,1428546125824,2097152,424,889192448
425,0,1428565000192,2097152,425,891289600
426,0,1428548222976,2097152,426,893386752
427,0,1428554514432,2097152,427,895483904
428,0,1428546125824,2097152,428,897581056
429,0,1428565000192,2097152,429,899678208
430,0,1428548222976,2097152,430,901775360
431,0,1428554514432,2097152,431,903872512
432,0,1428546125824,2097152,432,905969664
433,0,1428548222976,2097152,433,908066816
434,0,1428565000192,2097152,434,910163968
435,0,1428554514432,2097152,435,912261120
436,0,1428546125824,2097152,436,914358272
437,0,1428548222976,2097152,437,916455424
438,0,1428565000192,2097152,438,918552576
439,0,1428554514432,2097152,439,920649728
440,0,1428546125824,2097152,440,922746880
441,0,1428548222976,2097152,441,924844032
442,0,1428565000192,2097152,442,926941184
443,0,1428554514432,2097152,443,929038336
444,0,1428546125824,2097152,444,931135488
445,0,1428548222976,2097152,445,933232640
446,0,1428565000192,2097152,446,935329792
447,0,1428554514432,2097152,447,937426944
448,0,1428546125824,2097152,448,939524096

In [9]:
with open(trace_functions_dat_metadata_path, 'rb') as f:
    functions_metadata = f.read()

In [10]:
len(functions_metadata)

131072

In [12]:
struct.unpack('Qq', functions_metadata[:16])

(1, 72)

In [13]:
with open(trace_functions_dat_path, 'rb') as f:
    functions = f.read()

In [14]:
len(functions)

4194304

In [15]:
import numpy as np

In [17]:
metadata_dtype = np.dtype([
    ('NumberOfRecords', np.uint64),
    ('RecordSize', np.uint64),
])

In [19]:
a = np.fromstring(functions_metadata, dtype=metadata_dtype)

In [23]:
import pandas as pd

In [24]:
df = pd.DataFrame(a)

In [26]:
df = df[df['NumberOfRecords'] != 0]

In [28]:
len(df)

58

In [30]:
df['RecordSize'].sum()

8840

In [31]:
df

    NumberOfRecords  RecordSize
0                 1          72
1                 1         280
2                 1         144
3                 1         152
4                 1         224
5                 1          40
6                 1         280
7                 1          72
8                 1         144
9                 1         160
10                1          24
11                1         280
12                1         144
13                1         152
14                1         208
15                1          24
16                1         280
17                1          24
18                1         280
19                1          32
20                1         280
21                1          24
22                1         280
23                1          24
24                1         280
25                1          24
26                1         280
27                1          24
28                1         280
29                1          24
30                1         280
31                1          24
32                1         280
33                1          24
34                1         280
35                1          24
36                1         280
37                1          24
38                1         280
39                1          24
40                1         280
41                1          32
42                1         280
43                1          24
44                1         280
45                1          24
46                1         280
47                1          24
48                1         280
49                1          32
50                1         280
51                1          32
52                1         280
53                1          32
54                1         280
55                1          32
56                1         280
57                1          32

In [19]:
functions[:10]

'\x01\x02\x01\x00\x00\x00\x00\x00\xd0\xd3'

In [ ]:
with t:
    bits_table(output=null_writer)